<nav class="navbar navbar-expand-lg  f-up f-FiraGOr ">
  <div class="container">
    <a routerLink='/clients' class="navbar-brand w-20 pointer"><img class="img-fluid" src="http://www.tbcbank.ge/tbcpw.portal-public-theme/images/tbc/tbc-logo-ka_GE.svg" alt="logo"></a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="f-up f-FiraGOr text-center c-w p-2 f-20 title-border font-weight-bold">
      <span class="mb-0 c-w ">კლიენტების</span><span class="c-main"> ცნობარი</span>
    </div>



    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="navbar-nav ml-auto fs-13">-->
           <!--<li class="nav-item c-yellow">-->
          <!--<a class="nav-link font-weight-bold pointer">კლიენტის დამატება <i class="fas fa-user-plus c-w"></i></a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</nav>


