<div class="container f-up f-FiraGOr">
  <div class="row ">
      <p class="c-w text-center mt-5 w-100 fs-60"><span class="c-main">#</span>გამარჯობა</p>
    </div>
  <div class="row justify-content-center mt-5">
    <div class="col-3">
      <a href="javascript:void(0)" class="radius-5 p-5 nav-link  pt-5 pb-5 bg-w d-flex flex-column align-items-center" disabled>
      <i class="fas fa-user fa-3x c-main"></i>
      <span class="c-main d-flex align-items-center pt-2">მომხმარებელი <i class="fas fa-long-arrow-alt-right c-main pl-1"></i></span>
    </a>
    </div>
    <div class="col-3 ">
      <a routerLink="/clients/" class="radius-5 p-5 nav-link pt-5 pb-5 bg-main d-flex flex-column align-items-center">
      <i class="fas fa-user-cog fa-3x c-w"></i>
      <span class="c-w d-flex align-items-center pt-2">ადმინისტრატორი <i class="fas fa-long-arrow-alt-right c-w pl-1"></i></span>
       </a>
    </div>
  </div>
</div>